{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <!-- LINKS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom.min.css' %}" />
    </head>
    <body class="grey lighten-2">

        {% block content %}{% endblock %}
        <!-- FOOTER -->
        <footer class="page-footer grey lighten-2">
            <div class="container">
                <div class="divider grey lighten-1"></div>
                <br/>
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="grey-text text-darken-1">Some info here maybe...</h5>
                        <p class="grey-text text-darken-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam delectus illo recusandae, omnis, quam nemo ipsam doloribus, nulla consectetur dignissimos ea praesentium quaerat alias, provident consequuntur eligendi voluptates distinctio eos.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="grey-text text-darken-1">Maybe some links...</h5>
                        <ul class="my-footer-links">
                            <li><a class="grey-text text-darken-1" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container grey-text text-darken-1">
                    © 2017 SpeakUp
                    <a class="grey-text text-darken-1 right" href="#!">Something here I dunno</a>
                </div>
            </div>
        </footer> <!-- <<< FOOTER -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>
        <script>
            // Init nav
            $('.button-collapse').sideNav();
            // Init dropdown
            $('.dropdown-button').dropdown();
            // Init modals
            $('.modal').modal();
            // Init selectfields
            $('select').material_select();
        </script> <!-- <<< JAVASCRIPT -->
    </body>
</html>