<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>SpeakUp!</title>
        <!-- LINKS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
        <link type="text/css" rel="stylesheet" href="css/custom.min.css" />
    </head>
    <body class="grey lighten-2">

        <!-- HEADER -->
        <header>
            <nav class="grey">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">SpeakUp!</a>
                    <a href="#" data-activates="mobile-collapse" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="progress-badge">Progress <span class="grey white-text">17%</span></li>
                        <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons">person</i></a></li>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">Account</a></li>
                            <li><a href="#!">Logout</a></li>
                        </ul>
                    </ul>

                    <ul class="side-nav" id="mobile-collapse">
                        <li><a href="#">Home</a></li>
                        <li><a class="subheader"><i class="material-icons">person</i><span class="badge grey white-text">17%</span></a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header> <!-- <<< HEADER -->

        <!-- STEPS MAIN -->
        <div class="container valign-wrapper my-main-container grey-text text-darken-1">
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="card grey lighten-3">
                        <div class="card-content">
                            <span class="card-title center-align">Step 1</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="#" class="waves-effect waves-green btn-large z-depth-0 transparent green-text completed-btn">Review</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card grey lighten-4">
                        <div class="card-content">
                            <span class="card-title center-align">Step 2</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quidem?</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="#" class="waves-effect green waves-light btn-large">Start</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card transparent grey-text">
                        <div class="card-content">
                            <span class="card-title center-align">Step 3</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quidem?</p>
                        </div>
                        <div class="card-action center-align card-closed">
                            <a href="#" class="waves-effect green waves-light btn-large closed-btn disabled"></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card transparent grey-text">
                        <div class="card-content">
                            <span class="card-title center-align">Step 4</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quidem?</p>
                        </div>
                        <div class="card-action center-align card-closed">
                            <a href="#" class="waves-effect green waves-light btn-large disabled"></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card transparent grey-text">
                        <div class="card-content">
                            <span class="card-title center-align">Step 5</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quidem?</p>
                        </div>
                        <div class="card-action center-align card-closed">
                            <a href="#" class="waves-effect green waves-light btn-large disabled"></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card transparent grey-text">
                        <div class="card-content">
                            <span class="card-title center-align">Step 6</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quidem?</p>
                        </div>
                        <div class="card-action center-align card-closed">
                            <a href="#" class="waves-effect green waves-light btn-large disabled"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- <<< STEPS MAIN -->

        <!-- FOOTER -->
        <footer class="page-footer grey lighten-2">
            <div class="container">
                <div class="divider grey lighten-1"></div>
                <br/>
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="grey-text text-darken-1">Some info here maybe...</h5>
                        <p class="grey-text text-darken-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam delectus illo recusandae, omnis, quam nemo ipsam doloribus, nulla consectetur dignissimos ea praesentium quaerat alias, provident consequuntur eligendi voluptates distinctio eos.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="grey-text text-darken-1">Maybe some links...</h5>
                        <ul class="my-footer-links">
                            <li><a class="grey-text text-darken-1" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container grey-text text-darken-1">
                    © 2017 SpeakUp
                    <a class="grey-text text-darken-1 right" href="#!">Something here I dunno</a>
                </div>
            </div>
        </footer> <!-- <<< FOOTER -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bin/materialize.min.js"></script>
        <script>
            // Init nav
            $('.button-collapse').sideNav();
            // Init dropdown
            $('.dropdown-button').dropdown();
            // Init modals
            $('.modal').modal();
            // Init selectfields
            $('select').material_select();
        </script> <!-- <<< JAVASCRIPT -->
    </body>
</html>