 <!-- HEADER -->
    <header>
        <nav class="grey">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">SpeakUp!</a>
                <a href="#" data-activates="mobile-collapse" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="progress-badge">Progress <span class="grey white-text">17%</span></li>
                    <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons">person</i></a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">Account</a></li>
                        <li><a href="#!">Logout</a></li>
                    </ul>
                </ul>

                <ul class="side-nav" id="mobile-collapse">
                    <li><a href="#">Home</a></li>
                    <li><a class="subheader"><i class="material-icons">person</i><span class="badge grey white-text">17%</span></a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header> <!-- <<< HEADER -->
