<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>SpeakUp!</title>
        <!-- LINKS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
        <link type="text/css" rel="stylesheet" href="css/custom.min.css" />
    </head>
    <body class="grey lighten-2">

        <!-- HEADER -->
        <header>
            <nav class="grey">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">SpeakUp!</a>
                    <a href="#" data-activates="mobile-collapse" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="progress-badge">Progress <span class="grey white-text">17%</span></li>
                        <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons">person</i></a></li>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">Account</a></li>
                            <li><a href="#!">Logout</a></li>
                        </ul>
                    </ul>
                    <ul class="side-nav" id="mobile-collapse">
                        <li><a href="#">Home</a></li>
                        <li><a class="subheader"><i class="material-icons">person</i><span class="badge grey white-text">17%</span></a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header> <!-- <<< HEADER -->

        <!-- USER PROFILE -->
        <div class="my-container">
            <div class="container my-user-container grey-text text-darken-1 grey lighten-5 z-depth-1">
                <h4 class="center-align">Your SpeakUp progress: <span>17%</span></h4>
                <br/>
                <form>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="first_name" placeholder="John" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="last_name" placeholder="Doe" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="occupation" placeholder="Student" type="text" class="validate">
                            <label for="occupation">Occupation</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="age" placeholder="24" type="number" min="1" max="101" class="validate">
                            <label for="age" data-error="Please enter a valid age">Age</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <select>
                                <option value="other">Undisclosed / Other</option>
                                <option value="male" selected>Male</option>
                                <option value="female">Female</option>
                            </select>
                            <label>Gender</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="email" placeholder="coffee@mail.com" type="email" class="validate">
                            <label for="email" data-error="Please enter a valid email" data-success="right">Email</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="Please enter a valid email" data-success="right">Confirm email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="password" type="password" class="validate">
                            <label for="password">Old password</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="password" type="password" class="validate">
                            <label for="password">New password</label>
                        </div>
                    </div>
                    <div class="center-align">
                        <a href="#" class="waves-effect green waves-light btn-large user-action-btn">Update</a>
                        <a href="#delete" class="waves-effect red waves-light btn-large modal-trigger user-action-btn">Delete</a>
                    </div>
                </form>
            </div>
        </div> <!-- <<< USER PROFILE-->

        <!-- <<< CONFIRMATION MODAL -->
        <div id="delete" class="modal grey-text text-darken-1">
            <div class="modal-content center-align">
                <p>Are you sure you want to delete your profile?</p>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn grey modal-action modal-close waves-effect">Cancel</button>
                <button class="btn red modal-action modal-close waves-effect">Delete</button>
            </div>
        </div> <!-- <<< CONFIRMATION MODAL -->

        <!-- FOOTER -->
        <footer class="page-footer grey lighten-2">
            <div class="container">
                <div class="divider grey lighten-1"></div>
                <br/>
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="grey-text text-darken-1">Some info here maybe...</h5>
                        <p class="grey-text text-darken-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam delectus illo recusandae, omnis, quam nemo ipsam doloribus, nulla consectetur dignissimos ea praesentium quaerat alias, provident consequuntur eligendi voluptates distinctio eos.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="grey-text text-darken-1">Maybe some links...</h5>
                        <ul class="my-footer-links">
                            <li><a class="grey-text text-darken-1" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-darken-1" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container grey-text text-darken-1">
                    © 2017 SpeakUp
                    <a class="grey-text text-darken-1 right" href="#!">Something here I dunno</a>
                </div>
            </div>
        </footer> <!-- <<< FOOTER -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bin/materialize.min.js"></script>
        <script>
            // Init nav
            $('.button-collapse').sideNav();
            // Init dropdown
            $('.dropdown-button').dropdown();
            // Init modals
            $('.modal').modal();
            // Init selectfields
            $('select').material_select();
        </script> <!-- <<< JAVASCRIPT -->
    </body>
</html>